<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style_bounce.css">
    <link rel="stylesheet" href="../static/style_media.css">
    <link rel="icon" type="image/png" href="../static/img/icone.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Tech-Women</title>
</head>


<body>
    <!--MENU LATERAL-->
    <!--Toggle de navegação mobile-->
    <i class="bi bi-list menu-mobile"></i>


    <!--Foto de Perfil e Título-->
    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.gif" alt="Foto de Perfil">
            <h1>Tech-Women</h1>


            <!--Redes Sociais-->
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/sandy-evilly-372b5a22b/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/evillyf">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://wa.me/5521974555490">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>
        </section>


        <!--NAVBAR-->
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i>INÍCIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-info-circle"></i>SOBRE</a>
                </li>


                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle"><i
                        class="bi bi-person-lines-fill"></i>ELAS</a>
                <ul class="collapse list-unstyled nav-item ms-3 lh-lg" id="homeSubmenu">
                    <li>
                        <a href="#ada_lovelace">Ada Lovelace</a>
                    </li>
                    <li>
                        <a href="#grace_hooper">Grace Hooper</a>
                    </li>
                    <li>
                        <a href="#dorothy_vaughan">Dorothy Vaughan</a>
                    </li>
                    <li>
                        <a href="#mary_jackson">Mary Jackson</a>
                    </li>
                    <li>
                        <a href="#carol_shaw">Carol Shaw</a>
                    </li>
                    <li>
                        <a href="#michelle_simmons">Michelle Simmons</a>
                    </li>
                </ul>

                <li class="nav-item">
                    <a class="nav-link" href="#galeria"><i class="bi bi-images"></i>GALERIA</a>
                </li>

        </nav>
    </aside>


    <!--MAIN-->
    <main id="main">
        <!--Texto de introdução no banner-->
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-12 d-flex align-items-center flex-column pt-4">
                <h2 class="text-white text-shadow">Tech-Women</h2>
                <span id="subtitle" class="text-white text-shadow">Mulheres que fizeram história na tecnologia</span>
            </div>

            <!--Seta no banner-->
            <div class="col-md-12 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-black pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para conhecê-las</a>
                </div>
            </div>
        </section>

        <!--Sobre-->
        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p> Descubra algumas das mulheres que fizeram história na tecnologia </p>
                </div>
            </div>

            <!--Imagem do Sobre-->
            <div id="foto_sobre" class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid  mb-4" src="../static/img/perfil2.gif" alt="Foto de Perfil" data-anime="left">
                </div>

                <!--Lista Quem Você Vai Conhecer-->
                <div id="titulo_lista" class="col-md-8" data-anime="">
                    <h3>Quem você vai conhecer: </h3>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    ADA LOVELACE
                                </li>
                                <li class="list-group-item">
                                    GRACE HOOPER
                                </li>
                                <li class="list-group-item">
                                    DOROTHY VAUGHAN
                                </li>
                            </ul>
                            

                        </div>

                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    MARY JACKSON
                                </li>
                                <li class="list-group-item">
                                    CAROL SHAW
                                </li>
                                <li class="list-group-item">
                                    MICHELLE SIMMONS
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>



        <!--Textos-->
        <section class="mt-5 elas" id="blocos">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4 elas-head">ELAS</h2>

                <!--Bloco 1-->
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="elas-title">Ada Lovelace</h3>

                        <div id="ada_lovelace" class="elas-item">
                            <p><em>Dezembro 10, 1815 - Novembro 27, 1852</em></p>
                            <p>A primeira pessoa a programar foi uma mulher. Filha do poeta Lord Byron e da matemática
                                Lady Byron, Ada esteve desde cedo imersa no mundo dos números. Entretanto, sua mãe, com
                                receio de que ela herdasse a natureza poética e boêmia do pai, colocou-a desde a
                                primeira infância para estudar matemática e ciências. Aos 17 anos Ada conheceu o
                                cientista e matemático inglês Charles Babbage. Na época, Babbage convidou Lovelace a
                                fazer a tradução de um artigo escrito por Luigi Menabrea, engenheiro militar e futuro
                                ministro italiano. No artigo, Menabrea falava sobre uma máquina de calcular inventada
                                por Babbage. Ada traduziu os arquivos, mas também acrescentou diversas notas que mais
                                tarde ficaram conhecidas como anotações sobre o mecanismo analítico. Ela também foi
                                responsável por classificar o algoritmo contido na máquina, conhecido como Sequência de
                                Bernoulli, o que mais tarde se tornou o primeiro a ser implementado por um computador.
                                Na época, Lovelace não encontrou nenhum mecanismo em que pudesse colocar seus estudos a
                                prova. Entretanto, alguns anos depois, após sua morte, o algoritmo foi provado como
                                correto. Em 2008, a Sociedade Britânica de Computação criou a Medalha Lovelace, prêmio
                                dado a pesquisadores que desenvolvem grandes projetos relacionados a sistemas de
                                informação.</p>

                        </div>


                        <h3 class="elas-title">Dorothy Vaughan</h3>
                        <div id="dorothy_vaughan" class="elas-item">
                            <p><em>Dezembro 10, 1815 - Novembro 27, 1852</em></p>
                            <p>A primeira pessoa a programar foi uma mulher. Filha do poeta Lord Byron e da matemática
                                Lady Byron, Ada esteve desde cedo imersa no mundo dos números. Entretanto, sua mãe, com
                                receio de que ela herdasse a natureza poética e boêmia do pai, colocou-a desde a
                                primeira infância para estudar matemática e ciências. Aos 17 anos Ada conheceu o
                                cientista e matemático inglês Charles Babbage. Na época, Babbage convidou Lovelace a
                                fazer a tradução de um artigo escrito por Luigi Menabrea, engenheiro militar e futuro
                                ministro italiano. No artigo, Menabrea falava sobre uma máquina de calcular inventada
                                por Babbage. Ada traduziu os arquivos, mas também acrescentou diversas notas que mais
                                tarde ficaram conhecidas como anotações sobre o mecanismo analítico. Ela também foi
                                responsável por classificar o algoritmo contido na máquina, conhecido como Sequência de
                                Bernoulli, o que mais tarde se tornou o primeiro a ser implementado por um computador.
                                Na época, Lovelace não encontrou nenhum mecanismo em que pudesse colocar seus estudos a
                                prova. Entretanto, alguns anos depois, após sua morte, o algoritmo foi provado como
                                correto. Em 2008, a Sociedade Britânica de Computação criou a Medalha Lovelace, prêmio
                                dado a pesquisadores que desenvolvem grandes projetos relacionados a sistemas de
                                informação.</p>

                        </div>

                        <h3 class="elas-title">Carol Shaw</h3>
                        <div id="carol_shaw" class="elas-item">
                            <p><em>Dezembro 10, 1815 - Novembro 27, 1852</em></p>
                            <p>A primeira pessoa a programar foi uma mulher. Filha do poeta Lord Byron e da matemática
                                Lady Byron, Ada esteve desde cedo imersa no mundo dos números. Entretanto, sua mãe, com
                                receio de que ela herdasse a natureza poética e boêmia do pai, colocou-a desde a
                                primeira infância para estudar matemática e ciências. Aos 17 anos Ada conheceu o
                                cientista e matemático inglês Charles Babbage. Na época, Babbage convidou Lovelace a
                                fazer a tradução de um artigo escrito por Luigi Menabrea, engenheiro militar e futuro
                                ministro italiano. No artigo, Menabrea falava sobre uma máquina de calcular inventada
                                por Babbage. Ada traduziu os arquivos, mas também acrescentou diversas notas que mais
                                tarde ficaram conhecidas como anotações sobre o mecanismo analítico. Ela também foi
                                responsável por classificar o algoritmo contido na máquina, conhecido como Sequência de
                                Bernoulli, o que mais tarde se tornou o primeiro a ser implementado por um computador.
                                Na época, Lovelace não encontrou nenhum mecanismo em que pudesse colocar seus estudos a
                                prova. Entretanto, alguns anos depois, após sua morte, o algoritmo foi provado como
                                correto. Em 2008, a Sociedade Britânica de Computação criou a Medalha Lovelace, prêmio
                                dado a pesquisadores que desenvolvem grandes projetos relacionados a sistemas de
                                informação.</p>

                        </div>
                    </div>




                    <!--Bloco 2-->
                    <div class="col-md-6">
                        <h3 class="elas-title">Grace Hooper</h3>
                        <div id="grace_hooper" class="elas-item">
                            <p><em>Dezembro 10, 1815 - Novembro 27, 1852</em></p>
                            <p>A primeira pessoa a programar foi uma mulher. Filha do poeta Lord Byron e da matemática
                                Lady Byron, Ada esteve desde cedo imersa no mundo dos números. Entretanto, sua mãe, com
                                receio de que ela herdasse a natureza poética e boêmia do pai, colocou-a desde a
                                primeira infância para estudar matemática e ciências. Aos 17 anos Ada conheceu o
                                cientista e matemático inglês Charles Babbage. Na época, Babbage convidou Lovelace a
                                fazer a tradução de um artigo escrito por Luigi Menabrea, engenheiro militar e futuro
                                ministro italiano. No artigo, Menabrea falava sobre uma máquina de calcular inventada
                                por Babbage. Ada traduziu os arquivos, mas também acrescentou diversas notas que mais
                                tarde ficaram conhecidas como anotações sobre o mecanismo analítico. Ela também foi
                                responsável por classificar o algoritmo contido na máquina, conhecido como Sequência de
                                Bernoulli, o que mais tarde se tornou o primeiro a ser implementado por um computador.
                                Na época, Lovelace não encontrou nenhum mecanismo em que pudesse colocar seus estudos a
                                prova. Entretanto, alguns anos depois, após sua morte, o algoritmo foi provado como
                                correto. Em 2008, a Sociedade Britânica de Computação criou a Medalha Lovelace, prêmio
                                dado a pesquisadores que desenvolvem grandes projetos relacionados a sistemas de
                                informação.</p>

                        </div>

                        <h3 class="elas-title">Mary Jackson</h3>
                        <div id="mary_jackson" class="elas-item">
                            <p><em>Dezembro 10, 1815 - Novembro 27, 1852</em></p>
                            <p>A primeira pessoa a programar foi uma mulher. Filha do poeta Lord Byron e da matemática
                                Lady Byron, Ada esteve desde cedo imersa no mundo dos números. Entretanto, sua mãe, com
                                receio de que ela herdasse a natureza poética e boêmia do pai, colocou-a desde a
                                primeira infância para estudar matemática e ciências. Aos 17 anos Ada conheceu o
                                cientista e matemático inglês Charles Babbage. Na época, Babbage convidou Lovelace a
                                fazer a tradução de um artigo escrito por Luigi Menabrea, engenheiro militar e futuro
                                ministro italiano. No artigo, Menabrea falava sobre uma máquina de calcular inventada
                                por Babbage. Ada traduziu os arquivos, mas também acrescentou diversas notas que mais
                                tarde ficaram conhecidas como anotações sobre o mecanismo analítico. Ela também foi
                                responsável por classificar o algoritmo contido na máquina, conhecido como Sequência de
                                Bernoulli, o que mais tarde se tornou o primeiro a ser implementado por um computador.
                                Na época, Lovelace não encontrou nenhum mecanismo em que pudesse colocar seus estudos a
                                prova. Entretanto, alguns anos depois, após sua morte, o algoritmo foi provado como
                                correto. Em 2008, a Sociedade Britânica de Computação criou a Medalha Lovelace, prêmio
                                dado a pesquisadores que desenvolvem grandes projetos relacionados a sistemas de
                                informação.</p>

                        </div>

                        <h3 class="elas-title">Michelle Simmons</h3>
                        <div id="michelle_simmons" class="elas-item">
                            <p><em>Dezembro 10, 1815 - Novembro 27, 1852</em></p>
                            <p>A primeira pessoa a programar foi uma mulher. Filha do poeta Lord Byron e da matemática
                                Lady Byron, Ada esteve desde cedo imersa no mundo dos números. Entretanto, sua mãe, com
                                receio de que ela herdasse a natureza poética e boêmia do pai, colocou-a desde a
                                primeira infância para estudar matemática e ciências. Aos 17 anos Ada conheceu o
                                cientista e matemático inglês Charles Babbage. Na época, Babbage convidou Lovelace a
                                fazer a tradução de um artigo escrito por Luigi Menabrea, engenheiro militar e futuro
                                ministro italiano. No artigo, Menabrea falava sobre uma máquina de calcular inventada
                                por Babbage. Ada traduziu os arquivos, mas também acrescentou diversas notas que mais
                                tarde ficaram conhecidas como anotações sobre o mecanismo analítico. Ela também foi
                                responsável por classificar o algoritmo contido na máquina, conhecido como Sequência de
                                Bernoulli, o que mais tarde se tornou o primeiro a ser implementado por um computador.
                                Na época, Lovelace não encontrou nenhum mecanismo em que pudesse colocar seus estudos a
                                prova. Entretanto, alguns anos depois, após sua morte, o algoritmo foi provado como
                                correto. Em 2008, a Sociedade Britânica de Computação criou a Medalha Lovelace, prêmio
                                dado a pesquisadores que desenvolvem grandes projetos relacionados a sistemas de
                                informação.</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Galeria-->
        <section id="galeria" class="section-bg mt-5">
            <div class="container pb-5 pt-5">

                <h2 class="pb-4">GALERIA</h2>

                <div id="carouselGaleria" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselGaleria" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselGaleria" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/ada.jpeg" class="card-img-top"
                                            alt="Foto da Ada Lovelace">
                                        <div class="card-body">
                                            <h5 class="card-title">Ada Lovelace</h5>
                                            <p class="card-text">Primeira pessoa a programar no mundo.Primeira pessoa a
                                                programar no mundo.Primeira pessoa a programar no mundo.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/ada.jpeg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Grace Hooper</h5>
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/ada.jpeg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Mary Jackson</h5>
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/ada.jpeg" class="card-img-top"
                                            alt="Foto da Ada Lovelace">
                                        <div class="card-body">
                                            <h5 class="card-title">Ada Lovelace</h5>
                                            <p class="card-text">Primeira pessoa a programar no mundo.Primeira pessoa a
                                                programar no mundo.Primeira pessoa a programar no mundo.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/ada.jpeg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Grace Hooper</h5>
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/ada.jpeg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Mary Jackson</h5>
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            

        </section>






    </main>


    <!--RODAPÉ-->
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong> Progamaria </strong>
                <p>Desenvolvido por <strong> Sandy Evilly </strong></p>

            </div>

        </div>

    </footer>













    <!--SCRIPTS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>